* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1c1c;
  padding: 60px 5px 0px 5px;
  width: 400px;
  max-width: 400px;
}

.display {
  background-color: #1c1c1c;
  color: white;
  text-align: right;
  font-size: 90px;
  border: none;
  outline: none;
  width: 100%;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  gap: 1% 1%;
}

.digits > * {
  flex: 0 0 24%;
}

.digits > :nth-child(17) {
  flex: 2 0 24%;
}

.btn {
  /* background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin-bottom: 1%;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap; */
  background-color: #505050;
  color: white;
  font-size: 36px;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: none;
  margin-bottom: 1%;
}

.btn:hover,
.btn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.btn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
